/14-resoluçãoExercicio14
/app.js
/Cadastro de recruta
/Calculadora
/calculadora-geometrica
/calculadora-simples
/ConversorDeMedidas
/css-exercicio12
/exercicio-09
/exercicio01-css
/exercicio08-cadastroDeImoveis
/jogo
/Pyton
/site-css
/Tabuada
/TesteDeVelocidade